
{% extends "layout.jinja2" %}
{% block content %}
<div class="card">
  <h1 class="site-title">{{ title }}</h1>
  <p class="subtitle">This is an interactive dashboard that allows you to input any Phish and see graphs of how the songs played in that show compare to all other times that song was played.  Feedback and feature requests are always welcome.</p>
  <p>jroefive at gmail and on github, PhishStatSpatula on reddit</p>
  <a href="/dashapp/" class="dash-link">
    <span>Step into the Freezer</span>
    <i class="fas fa-arrow-right"></i>
  </a>
</div>
{% endblock %}